<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Busca" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/busca">
    <ion-nav-view name="tab-busca"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Consultas" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/consultas">
    <ion-nav-view name="tab-consultas"></ion-nav-view>
  </ion-tab>

</ion-tabs>
